/* src/App.css */
.App {
  text-align: center;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
